.jumbotron
  padding-top: 20px
  position: relative
  .date
    @extend .clock
    left:   0%
    top: 40%

  .clock
    width: 20%
    height: 50px
    color: #333333
    position: absolute
    top: 33%
    right: 0%
    text-align: center
    line-height: 50px
    font-size: 24px
  h2
    font-size: 40px
    margin-bottom: 20px

body
  padding-bottom: 20px

.addAccount,
.editAccount,
.editAccounts
  display: none

.black
  color: black
